<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81093612277-ak3itfp04phgopl63vou3jkg11j7louj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81093612277-ak3itfp04phgopl63vou3jkg11j7louj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>81093612277-9h8j7lbjegi4s0rbiah598k3aj66v40n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAX9Kl_giqmL8K8JGZlFN6RaPLxq6g6Xp0</string>
	<key>GCM_SENDER_ID</key>
	<string>81093612277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allnimall.app</string>
	<key>PROJECT_ID</key>
	<string>allnimall</string>
	<key>STORAGE_BUCKET</key>
	<string>allnimall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81093612277:ios:f7d8321aab9a6dda4febbc</string>
</dict>
</plist>